.pill {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 6px 4px 8px;
  border-radius: 8px;
  border: 1px solid var(--mantine-color-brand-blue-2);
  background: var(--mantine-color-brand-blue-0);
  cursor: pointer;
}

.pill:hover {
  background: var(--mantine-color-brand-blue-1);
}
